<% if (rating) { %>
  <span class="rating">
    <span class="rating__stars"><%= '★'.repeat(Math.min(5, Math.max(0, parseInt(rating) || 0))) %><%= '☆'.repeat(5 - Math.min(5, Math.max(0, parseInt(rating) || 0))) %></span>
    <span><%= rating %>/5</span>
  </span>
<% } else { %>
  <span class="rating rating--empty">Not rated</span>
<% } %>
